.card {
  font-size: 1.4rem;
  position: absolute;
  color: var(--color-grey-dark);
  top: 50%;
  left: 50%;
  height: 60rem;
  width: 60rem;
  padding: 1rem;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: var(--shadow-dark);

  display: flex;
  flex-direction: column;
}

.search {
  flex: 0 0 15%;
  display: flex;
  
  align-items: center;
  // justify-content: center;

  &__input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light);
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 100px;
    transition: all 0.2s;
    margin-right: -3.25rem;
    &:focus {
      outline: none;
      padding: 1.3rem 1rem;
      // background-color: var(--color-grey-light-3);
    }
  }

  &__button{
    //flex: 0 0 10%;
    border: none;
    background-color: var(--color-grey-light);
    border: none;
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
    //background-color: var(--color-primary);
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill:var(--color-primary);
  }
}

.list {
  flex: 0 0 85%;
  list-style: none;
  overflow-y: auto;
  // border-bottom: 1px solid black;

  &__item{
    border: 1px solid #ccc;
    padding: 1rem;
    
    &:hover,
    &-selected
    {
      background-color: #7f35f7;
      color: white;
    }
  }

  &::-webkit-scrollbar{
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb{
    background: linear-gradient(
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    border-radius: .6rem;
  }
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg{
    position: relative;
    width: 15rem;
    height: 15rem;
    animation: rotate 2s linear infinite;
  }

  svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: var(--color-primary);
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: loader 4s linear infinite;
  }
}

@keyframes loader{
  0%,100%{
    stroke-dashoffset: 440;
  }
  50%{
    stroke-dashoffset: 0;
  }
  50.1%{
    stroke-dashoffset: 880;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
 
  100%{
    transform: rotate(360deg);
  }
}
